@import url("https://fonts.googleapis.com/css?family=Muli:300,400,800");
* {
  font-family: 'Muli', sans-serif;
  color: #1f1f1f; }

body {
  background-color: #fff;
  background-image: url(../image/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  opacity: 1;
  transition: 1s opacity; }

body.fade-out {
  opacity: 0;
  transition: none; }

.wrapper {
  -webkit-box-shadow: 0px 0px 49px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 49px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 49px 0px rgba(0, 0, 0, 0.5); }

header {
  border-top: 4px solid #82c051;
  height: 1px;
  padding: 1.5em;
  text-align: center;
  margin: 0 auto;
  background-color: rgba(47, 47, 47, 0.65);
  z-index: 999; }
  header ul {
    display: none; }
    header ul li {
      color: #fff; }
  header #liPhone {
    float: right;
    font-size: 1em;
    color: #fff; }
    header #liPhone i {
      color: #fff;
      margin-right: 5px; }
  header img {
    position: absolute;
    left: 5px;
    top: 15px;
    width: 165px; }

.headSlider {
  background-color: rgba(47, 47, 47, 0.65);
  background-size: cover;
  position: relative;
  display: block;
  border-bottom: 1px solid #82c051;
  padding-bottom: 4em;
  padding: 2em 0 6em 0;
  color: #fff !important; }
  .headSlider img {
    width: 215px;
    margin: 0 auto;
    margin-top: 52px; }
  .headSlider h1 {
    color: #fff; }
    .headSlider h1 span {
      font-size: 1.2em;
      font-weight: 500;
      color: #fff; }
  .headSlider p {
    color: #fff;
    font-weight: 100; }
  .headSlider hr {
    border: 1px solid rgba(130, 192, 81, 0.5);
    width: 50px; }

a {
  text-decoration: none;
  color: inherit; }

nav ul {
  background-color: rgba(47, 47, 47, 0.75);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: center;
  margin: 0;
  -webkit-transition: max-height 0.4s;
  -ms-transition: max-height 0.4s;
  -moz-transition: max-height 0.4s;
  -o-transition: max-height 0.4s;
  transition: max-height 0.4s; }
  nav ul li {
    display: inline-block;
    padding: 25px 20px;
    padding-right: 30px;
    transition: .1s;
    color: #fff; }
    nav ul li:hover {
      background-color: #82c051;
      padding-right: 30px;
      transition: .1s; }

.handle {
  width: 100%;
  z-index: 99999;
  -webkit-box-shadow: 0px 0px 8px 4px rgba(42, 42, 42, 0.15);
  -moz-box-shadow: 0px 0px 8px 4px rgba(42, 42, 42, 0.15);
  box-shadow: 0px 0px 8px 4px rgba(42, 42, 42, 0.15);
  background: #fff;
  border-top: 4px solid #82c051;
  position: fixed;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 10px;
  cursor: pointer;
  color: #fff;
  display: none;
  top: 0px;
  font-size: 1.5em; }
  .handle img {
    position: absolute;
    left: 5px;
    top: 10px;
    width: 120px; }
  .handle .fa {
    color: #fff; }
  .handle #handlePhone {
    float: right;
    font-size: .7em !important;
    margin-top: 8px;
    color: #212121; }
    .handle #handlePhone i {
      color: #212121;
      margin-right: 5px; }

h1 {
  margin-top: 0px;
  font-size: 2em;
  text-align: center; }

h2 {
  font-size: 30px;
  text-align: center;
  font-weight: 700;
  margin: 0px; }

p {
  font-size: 1.2em;
  line-height: 1.5;
  padding: .5em; }

img {
  max-width: 100%;
  height: auto; }

section hr {
  border: 2px solid #82c051;
  width: 50px;
  text-align: left;
  margin-top: .7em !important;
  margin-bottom: 1em !important; }
section img {
  margin-top: 0px; }

#infoSection {
  z-index: 11;
  background-color: #82c051;
  height: auto;
  padding: 4em 2em; }
  #infoSection h1 {
    font-size: 3em;
    text-align: left;
    margin: 0 auto;
    color: #fff; }
  #infoSection h5 {
    color: #fff;
    font-size: 1.2em;
    font-weight: 100;
    margin: 5px auto; }

#section1,
#section3 {
  background-color: #fff; }

#section2Mobile {
  display: block;
  background-color: #fff; }
  #section2Mobile hr {
    border: 2px solid #82c051 !important; }

#section2 {
  display: none;
  background-color: #fff; }

.mapContain {
  padding: 2em 3em 3em 3em;
  background-color: #619638; }
  .mapContain h2 {
    text-align: left;
    color: #fff;
    margin: 5px auto;
    font-size: 18px;
    font-weight: 400;
    background-color: #82c051;
    margin: 0;
    padding: 10px; }
  .mapContain span {
    float: right;
    color: #fff;
    font-size: 14px;
    margin-top: 2px; }
  .mapContain i {
    color: #fff;
    font-size: 1.3em;
    margin-right: 5px; }
  .mapContain .business-hours {
    margin-left: 0px;
    margin-top: 2em; }
    .mapContain .business-hours h2 {
      font-size: 18px;
      margin: 0; }
    .mapContain .business-hours ul {
      width: 100%;
      padding: 0;
      margin: 0; }
      .mapContain .business-hours ul li {
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-top: none;
        color: #fff;
        font-size: 15px;
        padding: .6em;
        background-color: rgba(255, 255, 255, 0.03);
        list-style: none;
        text-transform: uppercase; }
        .mapContain .business-hours ul li:nth-child(2n) {
          background-color: rgba(255, 255, 255, 0.07); }
        .mapContain .business-hours ul li:first-child {
          border-top: 1px solid rgba(255, 255, 255, 0.3); }
        .mapContain .business-hours ul li span {
          color: #fff;
          float: right; }
    .mapContain .business-hours p {
      width: auto;
      font-size: 1.2em;
      border: 1px solid rgba(255, 255, 255, 0.3);
      background-color: rgba(255, 255, 255, 0.03);
      color: #fff; }

#map {
  height: 225px;
  width: 100%; }

footer {
  position: relative;
  background-color: #82c051;
  padding: 30px;
  color: #fff; }
  footer ul {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding-left: 0px; }
    footer ul li {
      display: inline-block;
      color: #fff;
      font-size: 30px;
      padding-left: 15px;
      padding-right: 15px; }
      footer ul li i {
        color: #fff; }
        footer ul li i:hover {
          color: rgba(255, 255, 255, 0.91);
          cursor: pointer;
          transform: scale(1.1);
          transition: .2s; }
  footer span {
    font-weight: 100;
    color: #fff; }
  footer p {
    text-align: center;
    font-size: 16px;
    font-weight: 100;
    color: #fff; }

#footImgMobile {
  width: 150px;
  margin-top: 32px; }

#footImgWeb {
  width: 120px;
  margin-top: 2em;
  margin-bottom: 1em;
  background-image: url(../image/bg.jpg);
  border-radius: 5px;
  padding: 1em; }

.centerAlign {
  width: 100%;
  text-align: right;
  right: 15px; }

/*MEDIA*/
/*Phone*/
@media screen and (max-width: 48em) {
  body {
    background-image: url(../image/bg.jpg);
    background-size: auto;
    background-attachment: inherit; }

  header {
    display: none; }

  .headSlider {
    padding: 5em 0 10em 0; }
    .headSlider img {
      margin-top: 12em; }
    .headSlider p {
      font-size: 1.1em;
      width: 55%;
      text-align: center;
      margin: 0 auto; }
    .headSlider h1 {
      margin-top: 5em;
      margin-bottom: 0em; }
    .headSlider .slick-prev,
    .headSlider .slick-next {
      display: none !important; }

  nav ul {
    max-height: 0px; }
    nav ul li {
      width: 100%;
      box-sizing: border-box;
      padding: 15px;
      text-align: right; }

  .showing {
    max-height: 20em; }

  .handle {
    display: block; }

  #infoSection h1 {
    font-size: 1.7em; }

  section h2 {
    margin: 0px; }
  section p {
    padding: 1.7em;
    font-size: 1.1em;
    margin-top: -10px; }

  .imgShadow {
    width: 85%;
    margin: 2em 7.25%; }

  .contactInfo {
    display: none; }

  footer {
    background-color: #82c051;
    background-image: none; } }
/*Phone Landscape*/
@media only screen and (min-width: 30em) {
  section p {
    width: 85%;
    margin: 0 auto; } }
/*tablet*/
@media only screen and (min-width: 48em) {
  .wrapper {
    width: 48em;
    margin: 0 auto;
    position: relative; }

  header ul {
    display: block;
    position: absolute;
    top: 18px;
    right: 180px;
    margin: 0px;
    padding: 0px; }

  header li {
    display: inline;
    padding-right: 15px;
    font-size: 26px; }

  header li i:hover {
    transform: scale(1.05);
    transition: .2s;
    cursor: pointer;
    color: #82c051; }

  header li i {
    color: #fff; }

  header {
    height: 0px;
    margin: 0 auto; }

  .headSlider {
    padding: 5em 0 10em 0;
    border-bottom: none; }
    .headSlider h1 {
      margin-top: 2.5em;
      margin-bottom: 0em;
      font-size: 3em; }
    .headSlider p {
      font-size: 1.3em;
      width: 65%;
      text-align: center; }

  .headSlider img {
    width: 300px;
    margin: 0 auto; }

  .headSlider .fullWidthImg {
    width: 100%; }

  nav ul {
    position: relative;
    height: 70px;
    width: 100%; }

  .row {
    display: flex;
    align-items: center;
    justify-content: center; }

  section img {
    width: 100%;
    height: auto; }

  #section2Mobile {
    display: none; }

  #section2 {
    display: block; }

  .aligner {
    display: flex;
    align-items: center;
    justify-content: center; }

  h1 {
    font-size: 2em;
    margin: 0 auto;
    margin-top: 1.3em; }

  p {
    font-size: 1em;
    width: 75%;
    margin: 0 auto; }

  .mapContain {
    padding: 2em 3em 3em 3em;
    background-color: rgba(47, 47, 47, 0.65); }
    .mapContain span {
      float: right; }
    .mapContain i {
      font-size: 1.3em;
      margin-right: 5px; }
    .mapContain .business-hours {
      margin-left: 10px; }
      .mapContain .business-hours h2 {
        padding: 10px; }

  footer {
    clear: both; }
    footer ul {
      display: none; }

  .contactInfo {
    display: block;
    bottom: 15px;
    left: 15px;
    position: absolute; }
    .contactInfo h4 {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 10px;
      color: #ffffff; }
    .contactInfo i {
      color: #fff; } }
/*desktop*/
@media only screen and (min-width: 60em) {
  /*ANIMATABLE*/
  /* initially hide animatable objects */
  .animatable {
    visibility: hidden;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -ms-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused; }

  /* show objects being animated */
  .animatedScroll {
    visibility: visible;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -ms-animation-play-state: running;
    -o-animation-play-state: running;
    animation-play-state: running; }

  header {
    position: relative; }

  h1 {
    font-size: 3.2em; }

  h2 {
    text-align: left;
    margin-left: 40px; }

  .wrapper {
    width: 60em; }

  .row {
    height: auto; }

  .headSlider h1 {
    margin-top: 1.5em; }
  .headSlider p {
    margin: -5px auto; }

  section hr {
    margin: 0 2.7em; }
  section img {
    width: 100%;
    height: auto; }

  nav li {
    font-size: 1.1em; }

  footer ul {
    display: none; }

  footer img {
    position: relative;
    top: 40px;
    left: 0;
    right: 0; }

  #footImgWeb {
    margin: 0 auto;
    width: 150px;
    margin-right: 15px; }

  span {
    padding-left: 5px; }

  #map {
    height: 425px; } }
/*large desktop*/
@media only screen and (min-width: 72.5em) {
  wrapper {
    width: 72.5em; }

  h1 {
    font-size: 3.3em;
    text-align: center; }

  .headSlider h1 {
    font-size: 3.5em; }
  .headSlider p {
    margin: -5px auto; } }

/*# sourceMappingURL=styles.css.map */
